<% if logged_in?(:site_admin) %>
  <nav class="breadcrumb blogcrumb">
    
    <%= link_to fa_icon('file-text'), toggle_status_blog_path(blog), style: blog_status_color(blog), :title=> blog_published_status(blog) %> 
    <%= link_to fa_icon('pencil-square-o'), edit_blog_path(blog), :title=> "Edit blog" %> 
    <%= link_to fa_icon('trash'), blog, method: :delete, data: { confirm: 'Are you sure?' } , :title=> "Delete blog"%>
  </nav>
<% end %>