<div class="app-card-container">
  <div class="card">

    <h1>A little about me</h1>
    
    <hr>
    
    <div class="row">
      <div class="col-md-4">
        
        <%= image_tag "me.jpg", width: 300, alt: "Profile Image", class: 'profile-img' %>
      </div>
      <div class="col-md-8">
        <p>To try to define the culmination of an entire life experience on a small about me internet page seems absurd.</p>
      </div>
    </div>    
  </div>
</div>



