<div class="inner cover">
  <h1 class="cover-heading">Live Life Meaningfully</h1>
  <p class="lead">There are many different philosophies involving the importance of this life,
  almost all of them agree that to waste this life is meaningless. This is why I have chosen to
  live live meaningfully.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>


